@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f9fa;
    padding: 20px 0;
    background-color: rgba(184, 122, 50, 0.199);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container1,
main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

header nav h2 {
    font-size: 45px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.hero h2 {
    font-size: 64px;
    font-size: bold;
    margin: 50px 0;
}

.hero p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin: 50px 0;
}

.hero a button {
    margin: 50px 0;
}

.hero-text {
    padding: 0 230px;
    text-align: center;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    font-size: 20px;
    font-weight: 600;
    padding: 1rem 1rem;
    background-color: coral;
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #f8f9fa;
    color: black;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 black;
}

@media screen and (max-width: 568px) {
    header nav {
        flex-direction: column;
        gap: 2rem;
    }

    header nav h2 {
        font-size: 23px;
    }

    header nav ul {
        gap: 1.5rem;

    }

    header nav ul li a {
        font-size: 12px;
    }

    .hero-text {
        padding: 0 10px;
        text-align: center;
    }

    .hero-text h2 {
        font-size: 32px;
        margin: 25px 0;
    }

    .hero-text p {
        font-size: 10px;
        margin: 25px 0;
    }

    .hero a button,
    button {
        margin: 5px 0;
        font-size: 10px;
        padding: 10px 10px;
    }


}

@media screen and (min-width: 568px) and (max-width: 1024px) {
    header nav {
        flex-direction: column;
        gap: 1.5rem;
    }

    header nav ul {
        display: flex;
        justify-content: space-around;
    }

    .hero-text {
        padding: 0 50px;
        text-align: center;
    }


}

main section {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 100px;
}

main section .section1,
.section2 {
    width: 50%;
}

main .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.section2 h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section2 p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

section .section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#A {
    color: rgba(0, 0, 0, 0.432);
    font-weight: 400;
}

#B {
    color: black;
    font-weight: 800;
}

#C {
    color: orange;
    font-weight: 800;
}

@media screen and (max-width: 568px) {

    section {
        flex-direction: column;
    }

    main section .section1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .section2 {
         text-align: center;
    }

    main section .section1,
    .section2 {
        width: 100%;
    }
}

@media screen and (min-width: 568px) and (max-width: 1024px) {

    section {
        flex-direction: column;
    }

    main section .section1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .section2 {
        text-align: center;
    }

    main section .section1,
    .section2 {
        width: 100%;
    }

    main section .section2 h2 p {
        text-align: center;
    }
}

aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 100px;
    gap: 100px;
    position: relative;
}

.box_content2 , box_content1 {
    width: calc(1400/2);
    height: 100%;
}


.p1 {
    margin: 50px 0;
}

main aside .boxes {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 10px;
}

aside .boxes h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#box_text {
    font-size: 65px;
}

.box_content h2 {
    font-size: 45px;
    font-weight: bold;
    margin-left: 20px;

}

.aside .boxes p {

    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.box_content2 img {
    width: 100%;
   
    object-fit: cover;
    border-radius: 10px;
}

#box_content h2 {
    font-size: 65px;
    font-weight: bold;
    color: whitesmoke;
}

#box_content p {
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 20px;
}

#box_content {
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    position: absolute;
    top: 70%;
    right: 30%;
}

.card{
    margin-bottom: 100px;
}

@media screen and (max-width: 1328px) {
    #box_content {
        display: none;
    }

}

@media screen and (max-width: 568px) {
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .box_content2 {
        width: 100%;

    }

    .box_content2 img {
        width: 100%;
    }

    #box_text {
        font-size: 32px;
        text-align: center;
    }


}


@media screen and (min-width: 568px) and (max-width: 1024px) {
    aside .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    aside {
        display: flex;
        flex-direction: column;

    }

    .box_content2 {
        width: 100%;

    }

    .box_content2 img {
        width: 100%;
    }

    #box_text {
        font-size: 32px;
        text-align: center;
    }


}

footer {
    margin: 100px 0;
}

footer h2 {
    font-size: 45px;
    font-weight: bold;
  
}

a {
    color: black;
    text-decoration: none;
}

footer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
     margin-top: 100px;
}

footer p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
}

footer .card a h2{
    font-size: 45px;
}

footer .card a h4{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

footer .card a{
    border:1px solid orange;
    border-radius: 5px;
    padding: 20px;
}

.card{
    text-align: center;
}

footer .card {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 568px) {
    footer .card {
        flex-direction: column;
        align-items: center;
    }

    footer .card a {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    footer .card a h2 {
        font-size: 32px;
    }

    footer .card a h4 {
        font-size: 16px;
    }

    #sponsors div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
}

@media screen and (min-width: 568px) and (max-width: 1024px) {
    footer .card {
      display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    
     #sponsors div{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }

   footer #sponsors div{
      display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
    }

    footer #sponsors div img {
       text-align: center;
    }
}
    


#sponsors{
    text-align: center;
}

#sponsors h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

#sponsors img{
    width: 150px;  
}

#sponsors div{
    display: flex;
    justify-content:space-around;
    align-items: center;
   
    gap: 20px;
}

.footer-text{
    margin: 100px 0;
    text-align: center;   
    background-color: rgba(184, 122, 50, 0.199);
}

.footer-text p {
    height: 100px;
    font-size: 16px;
      display: flex;
    justify-content: center;
    align-items: center; 
}

